# Build Results
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
packages/
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# DotCover
*.dotCover

# Logs
*.log

# WebSocketSharp DLL (se usar externa)
WebSocketSharp.dll
WebSocketSharp.pdb

# Json DLL (se usar externa)
Newtonsoft.Json.dll
Newtonsoft.Json.pdb

# Configs Sensíveis
appsettings.json
appsettings.Development.json
*.env
*.secrets.json
.env
.env.*

# Token temporário
token.jwt
